@model Trabajo.Models.tblClientes

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.msj != null)
    {

        switch (ViewBag.msj)
        {
            case "Guardado":
                <script>alert('Guardado con exito!');</script>

                break;
            case "Eliminado":
                <script>alert('Eliminado con exito!');</script>
                break;
            case "Modificado":
                <script>alert('Modificado con exito!');</script>
                break;
        }

    }
}

<script>
    //Cargar el formulario con datos seleccionados para eliminar
    function cargarDel(id, pNombre, sNombre, Papellido, Sapellido, Tapellido, sexo, estado, origen) {
        document.getElementById("txtClientes").value = id;
        document.getElementById("txtPNombre").value = pNombre;
        document.getElementById("txtSNombre").value = sNombre;
        document.getElementById("txtPApellido").value = Papellido;
        document.getElementById("txtSApellido").value = Sapellido;
        document.getElementById("txtTApellido").value = Tapellido;
        document.getElementById("txtSexo").value = sexo;
        document.getElementById("txtEstado").value = estado;
        document.getElementById("txtOrigen").value = origen;


        $("#btnEliminar").show();
        $("#btnModificar").hide();
        $("#btnGuardar").hide();
    }
    //Confirmar para eliminar

    function confirmarDel() {
        if (confirm("Desea eliminar el registro?")) {
            document.getElementById("eliminacion").value = "si";
        } else {
            document.getElementById("eliminacion").value = "no";
        }
    }

    //Cargar el formulario con datos seleccionados para modificar
    function cargarMo(id, pNombre, sNombre, Papellido, Sapellido, Tapellido, sexo, estado, origen) {
        document.getElementById("txtClientes").value = id;
        document.getElementById("txtPNombre").value = pNombre;
        document.getElementById("txtSNombre").value = sNombre;
        document.getElementById("txtPApellido").value = Papellido;
        document.getElementById("txtSApellido").value = Sapellido;
        document.getElementById("txtTApellido").value = Tapellido;
        document.getElementById("txtSexo").value = sexo;
        document.getElementById("txtEstado").value = estado;
        document.getElementById("txtOrigen").value = origen;

        $("#btnEliminar").hide();
        $("#btnModificar").show();
        $("#btnGuardar").hide();
    }
    //Confirmar para eliminar

    function confirmarMo() {
        if (confirm("Desea modificar el registro?")) {
            document.getElementById("modificacion").value = "si";
        } else {
            document.getElementById("modificacion").value = "no";
        }
    }

    $(document).ready(function () {
        $("#btnNuevo").on("click", function () {
            $("#btnEliminar").hide();
            $("#btnModificar").hide();
            $("#btnGuardar").show();
        });
    })
</script>

<h2>Clientes</h2>
<fieldset>
    <button type="button" id="btnNuevo" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar registro
    </button>
</fieldset>

<div id="contenido">
    <table class="table">
        <thead>
            <tr>
                <th>ID Cliente</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Tercer apellido</th>
                <th>ID Sexo</th>
                <th>Fecha ingreso</th>
                <th>Estado</th>
                <th>ID Origen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Trabajo.Models.tblClientes item in ViewBag.data)
                {
                        <tr>
                            <td>@item.idClientes</td>
                            <td>@item.PrimerNombre</td>
                            <td>@item.SegundoNombre</td>
                            <td>@item.PrimerApellido</td>
                            <td>@item.SegundoApellido</td>
                            <td>@item.TercerApellido</td>
                            @foreach (Trabajo.Models.catSexo sexo in ViewBag.sexoData)
                            {
                                if (sexo.idSexo == item.idSexo)
                                {
                                    <td>@sexo.descripcion</td>
                                }
                            }
                            <td>@item.fechaingreso</td>
                            @foreach (Trabajo.Models.catEstados estados in ViewBag.estadosData)
                            {
                                if (estados.idEstado == item.idEstado)
                                {
                                    <td>@estados.descripcion</td>
                                }
                            }

                            @foreach (Trabajo.Models.catOrigen origen in ViewBag.origenData)
                            {
                                if (origen.idOrigen == item.idOrigen)
                                {
                                    <td>@origen.descripcion</td>
                                }
                            }

                            <td>
                                <a href="" onclick="javascript:cargarDel('@item.idClientes','@item.PrimerNombre')"
                                   data-bs-toggle="modal" data-bs-target="#exampleModal"> Eliminar</a>
                                |<a href="" onclick="javascript:cargarMo('@item.idClientes','@item.PrimerNombre')"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"> Modificar</a>
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Registro</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Clientes", "Clientes", FormMethod.Post, htmlAttributes: new { id = "form1", enctype = "multipart/form-data" }))
                {
                    @Html.LabelFor(x => x.idClientes, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.TextBoxFor(x => x.idClientes, htmlAttributes: new { @class = "form-control", id = "txtClientes", @readonly = "readonly" }) <br />

                    @Html.LabelFor(x => x.PrimerNombre, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.TextBoxFor(x => x.PrimerNombre, htmlAttributes: new { @class = "form-control", id = "txtPNombre" }) <br />

                    @Html.LabelFor(x => x.SegundoNombre, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.TextBoxFor(x => x.SegundoNombre, htmlAttributes: new { @class = "form-control", id = "txtSNombre" }) <br />

                    @Html.LabelFor(x => x.PrimerApellido, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.TextBoxFor(x => x.PrimerApellido, htmlAttributes: new { @class = "form-control", id = "txtPApellido" }) <br />

                    @Html.LabelFor(x => x.SegundoApellido, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.TextBoxFor(x => x.SegundoApellido, htmlAttributes: new { @class = "form-control", id = "txtSApellido" }) <br />

                    @Html.LabelFor(x => x.TercerApellido, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.TextBoxFor(x => x.TercerApellido, htmlAttributes: new { @class = "form-control", id = "txtTApellido" }) <br />

                    @Html.LabelFor(x => x.idSexo, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.DropDownListFor(x => x.idSexo, (IEnumerable<SelectListItem>)ViewBag.comboSexo, htmlAttributes: new { @class = "form-control", id = "txtSexo" }) <br />

                    @Html.LabelFor(x => x.idEstado, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.DropDownListFor(x => x.idEstado, (IEnumerable<SelectListItem>)ViewBag.comboEstado, htmlAttributes: new { @class = "form-control", id = "txtEstado" }) <br />

                    @Html.LabelFor(x => x.idOrigen, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.DropDownListFor(x => x.idOrigen, (IEnumerable<SelectListItem>)ViewBag.comboOrigen, htmlAttributes: new { @class = "form-control", id = "txtOrigen" }) <br />


                    <label class="label label-info">Subir imagen</label><br />
                    <input type="file" name="imagen" id="imagen" class="form-control-file" /><br />

                    <input type="hidden" name="eliminacion" id="eliminacion" value="" />
                    <input type="hidden" name="modificacion" id="modificacion" value="" />


                    <input type="submit" name="boton" value="Guardar" id="btnGuardar" class="btn btn-success" />
                    <input type="submit" onclick="javascript: confirmarDel()" name="boton" value="Eliminar" id="btnEliminar" class="btn btn-danger" />
                    <input type="submit" onclick="javascript: confirmarMo()" name="boton" value="Modificar" id="btnModificar" class="btn btn-warning" />
                }




            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

