@model Trabajo.Models.catTipoProcesos

@{
    ViewBag.Title = "Procesos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Procesos</h2>

@{
    if (ViewBag.msj != null)
    {

        switch (ViewBag.msj)
        {
            case "Guardado":
                <script>alert('Guardado con exito!');</script>

                break;
            case "Eliminado":
                <script>alert('Eliminado con exito!');</script>
                break;
            case "Modificado":
                <script>alert('Modificado con exito!');</script>
                break;
        }

    }
}

<script>
    //Cargar el formulario con datos seleccionados para eliminar
    function cargarDel(id, des,estado) {
        document.getElementById("txtidSexo").value = id;
        document.getElementById("txtdescripcion").value = des;
        document.getElementById("txtCodEstados").value = estado;

        $("#btnEliminar").show();
        $("#btnModificar").hide();
        $("#btnGuardar").hide();
    }
    //Confirmar para eliminar

    function confirmarDel() {
        if (confirm("Desea eliminar el registro?")) {
            document.getElementById("eliminacion").value = "si";
        } else {
            document.getElementById("eliminacion").value = "no";
        }
    }

    //Cargar el formulario con datos seleccionados para modificar
    function cargarMo(id, des,estado) {
        document.getElementById("txtidSexo").value = id;
        document.getElementById("txtdescripcion").value = des;
        document.getElementById("txtCodEstados").value = estado;

        $("#btnEliminar").hide();
        $("#btnModificar").show();
        $("#btnGuardar").hide();
    }
    //Confirmar para eliminar

    function confirmarMo() {
        if (confirm("Desea modificar el registro?")) {
            document.getElementById("modificacion").value = "si";
        } else {
            document.getElementById("modificacion").value = "no";
        }
    }

    $(document).ready(function () {
        $("#btnNuevo").on("click", function () {
            $("#btnEliminar").hide();
            $("#btnModificar").hide();
            $("#btnGuardar").show();
        });
    })
</script>

<fieldset>
    <button type="button" id="btnNuevo" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar registro
    </button>
</fieldset>

<div id="contenido">
    <table class="table">
        <thead>
            <tr>
                <th>ID Tipo producto</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Fecha de ingreso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Trabajo.Models.catTipoProcesos item in ViewBag.data)
                {
                        <tr>
                            <td>@item.idTipoProceso</td>
                            <td>@item.descripcion</td>
                            @foreach (Trabajo.Models.catEstados estados in ViewBag.estadosData)
                            {
                                if (estados.idEstado == item.idEstado)
                                {
                                    <td>@estados.descripcion</td>
                                }
                            }
                            <td>@item.fechaingreso</td>

                            <td>
                                <a href="" onclick="javascript:cargarDel('@item.idTipoProceso','@item.descripcion','@item.idEstado')"
                                   data-bs-toggle="modal" data-bs-target="#exampleModal"> Eliminar</a>
                                |<a href="" onclick="javascript:cargarMo('@item.idTipoProceso','@item.descripcion','@item.idEstado')"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"> Modificar</a>
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Categoría sexo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Procesos", "Procesos", FormMethod.Post, htmlAttributes: new { id = "form1" }))
                {
                    @Html.LabelFor(x => x.idTipoProceso, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.TextBoxFor(x => x.idTipoProceso, htmlAttributes: new { @class = "form-control", id = "txtidSexo", @readonly = "readonly" }) <br />
                    @Html.LabelFor(x => x.descripcion, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.TextBoxFor(x => x.descripcion, htmlAttributes: new { @class = "form-control", id = "txtdescripcion" }) <br />
                    @Html.LabelFor(x => x.idEstado, htmlAttributes: new { @class = "label label -info" }) <br />
                    @Html.DropDownListFor(x => x.idEstado, (IEnumerable<SelectListItem>)ViewBag.combo, htmlAttributes: new { @class = "form-control", id = "txtCodEstados" }) <br />
                    <!-- Campo oculto para almacenar la fecha actual -->
                    <input type="hidden" name="eliminacion" id="eliminacion" value="" />
                    <input type="hidden" name="modificacion" id="modificacion" value="" />

                    <input type="submit" name="boton" value="Guardar" id="btnGuardar" class="btn btn-success" />
                    <input type="submit" onclick="javascript: confirmarDel()" name="boton" value="Eliminar" id="btnEliminar" class="btn btn-danger" />
                    <input type="submit" onclick="javascript: confirmarMo()" name="boton" value="Modificar" id="btnModificar" class="btn btn-warning" />
                }

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>